<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
<head>
{% include "load-metafields" %}

 {%- render 'layouthub_header' -%}
  {% include 'kiwiSizing' %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <meta name="facebook-domain-verification" content="r31cv6e0jfpc3m4whw0fb30blrygw8" />
  <link rel="canonical" href="{{ canonical_url }}">
  
  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {%- endif -%}

  {%- render 'seo-title' -%}

  {%- if page_description -%}
  <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {%- render 'social-meta-tags' -%}

  {%- render 'font-face' -%}
  {{ 'theme.css' | asset_url | stylesheet_tag }}
  {%- render 'css-variables' -%}
  {{ 'custom.min.css' | asset_url | stylesheet_tag }}
  
  <link rel="preload" as="style" href="{{ 'theme.css' | asset_url }}">
  <link rel="preload" as="style" href="{{ 'custom.min.css' | asset_url }}">
  <link rel="preload" as="script" href="{{ 'theme.js' | asset_url }}">
  <link rel="preload" as="script" href="{{ 'custom.js' | asset_url }}">

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

    window.theme = window.theme || {};
    theme.routes = {
      cart: "{{ routes.cart_url }}",
      cartAdd: "{{ routes.cart_add_url }}",
      cartChange: "{{ routes.cart_change_url }}"
    };
    theme.strings = {
      soldOut: {{ 'products.product.sold_out' | t | json }},
      unavailable: {{ 'products.product.unavailable' | t | json }},
      stockLabel: {{ 'products.product.stock_label' | t: count: '[count]' | json }},
      willNotShipUntil: {{ 'products.product.will_not_ship_until' | t: date: '[date]' | json }},
      willBeInStockAfter: {{ 'products.product.will_be_in_stock_after' | t: date: '[date]' | json }},
      waitingForStock: {{ 'products.product.waiting_for_stock' | t | json }},
      savePrice: {{ 'products.general.save_html' | t: saved_amount: '[saved_amount]' | json }},
      cartEmpty: {{ 'cart.general.empty' | t | json }},
      cartTermsConfirmation: {{ 'cart.general.terms_confirm' | t | json }}
    };
    theme.settings = {
      dynamicVariantsEnable: true,
      dynamicVariantType: {{ settings.variant_type | json }},
      cartType: {{ settings.cart_type | json }},
      moneyFormat: {{ shop.money_format | json }},
      saveType: {{ settings.product_save_type | json }},
      recentlyViewedEnabled: false,
      predictiveSearch: {{ settings.predictive_search_enabled }},
      predictiveSearchType: {{ settings.search_type | json }},
      inventoryThreshold: {{ settings.inventory_threshold }},
      quickView: {{ settings.quick_shop_enable }},
      themeName: 'Impulse',
      themeVersion: "3.2.2"
    };
  </script>
  {{ content_for_header}}
  <script src="{{ 'vendor-scripts-v6.js' | asset_url | split: '?' | first }}" defer="defer"></script>

  {% if shop.enabled_currencies.size > 1 %}
    <link rel="preload" as="style" href="{{ 'currency-flags.css' | asset_url }}" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="{{ 'currency-flags.css' | asset_url }}"></noscript>
  {% endif %}
  
  <!-- CUSTOM NANI BY YOU SCRIPTS -->
  {% include 'nani-by-you-scripts' %}

  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>

  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>
  <script src="{{ 'custom.js' | asset_url }}"></script>

  {%- if request.page_type contains 'customers/' -%}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
  {%- endif -%}

  <script type="text/javascript">(function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/9hoRjJmFQhM9Hrd2r9XoTJFpI3pjk0UJpNzIJXYq/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();</script>
{{ 'ndnapps-easyfaqs.css' | asset_url | stylesheet_tag }}
<!-- Hotjar Tracking Code for https://www.naniswimwear.com/ -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:757627,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
 
  
  <script>
  !function(c,n,r,t){if(!c[r]){var i,d,p=[];d="PROD"!==t&&t?"STAGING"===t?"https://cdn.gladly.qa/gladly/chat-sdk/widget.js":t:"https://cdn.gladly.com/chat-sdk/widget.js",c[r]={init:function(){i=arguments;var e={then:function(t){return p.push({type:"t",next:t}),e},catch:function(t){return p.push({type:"c",next:t}),e}};return e}},c.__onHelpAppHostReady__=function(t){if(delete c.__onHelpAppHostReady__,(c[r]=t).loaderCdn=d,i)for(var e=t.init.apply(t,i),n=0;n<p.length;n++){var a=p[n];e="t"===a.type?e.then(a.next):e.catch(a.next)}},function(){try{var t=n.getElementsByTagName("script")[0],e=n.createElement("script");e.async=!0,e.src=d+"?q="+(new Date).getTime(),t.parentNode.insertBefore(e,t)}catch(t){}}()}}
  (window,document,'Gladly','PROD')
</script>
  
  
  <script>
  window.gladlyConfig = {
    appId: 'naniswimwear.com'
  };
</script>
  
  
{% include 'pagefly-header' %}
  
  <!-- SLICK SLIDER -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- NANI BY YOU STYLES -->
  {{ 'nani-by-you.css' | asset_url | stylesheet_tag }} 
  
  <!-- Start VWO Async SmartCode -->
  <script type='text/javascript'>
  window._vwo_code = window._vwo_code || (function(){
  var account_id=573283,
  settings_tolerance=2000,
  library_tolerance=2500,
  use_existing_jquery=false,
  is_spa=1,
  hide_element='body',

  /* DO NOT EDIT BELOW THIS LINE */
  f=false,d=document,code={use_existing_jquery:function(){return use_existing_jquery;},library_tolerance:function(){return library_tolerance;},finish:function(){if(!f){f=true;var a=d.getElementById('_vis_opt_path_hides');if(a)a.parentNode.removeChild(a);}},finished:function(){return f;},load:function(a){var b=d.createElement('script');b.src=a;b.type='text/javascript';b.innerText;b.onerror=function(){_vwo_code.finish();};d.getElementsByTagName('head')[0].appendChild(b);},init:function(){
  window.settings_timer=setTimeout(function () {_vwo_code.finish() },settings_tolerance);var a=d.createElement('style'),b=hide_element?hide_element+'{opacity:0 !important;filter:alpha(opacity=0) !important;background:none !important;}':'',h=d.getElementsByTagName('head')[0];a.setAttribute('id','_vis_opt_path_hides');a.setAttribute('type','text/css');if(a.styleSheet)a.styleSheet.cssText=b;else a.appendChild(d.createTextNode(b));h.appendChild(a);this.load('https://dev.visualwebsiteoptimizer.com/j.php?a='+account_id+'&u='+encodeURIComponent(d.URL)+'&f='+(+is_spa)+'&r='+Math.random());return settings_timer; }};window._vwo_settings_timer = code.init(); return code; }());
  </script>
  <!-- End VWO Async SmartCode -->
  
  <script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/1KEuFtttzL14Klv_x7BlBQ" async></script>
</head> 

<body class="nby-page" data-center-text="{{settings.type_body_align_text}}" data-button_style="{{settings.button_style}}" data-type_header_capitalize="{{settings.type_header_capitalize}}" data-type_headers_align_text="{{settings.type_headers_align_text}}" data-type_product_capitalize="{{settings.type_product_capitalize}}" data-swatch_style="{{settings.swatch_style}}"
x-data="{
    cart_total: 1,
    bar_number: 0,
    bar_percentage: 10,
    bar_threshold: {{ settings.cart_free_shipping }}/100,
    calculateFreeShippingBar() {
        $('body').on('updateCart.ajaxcart', () => {
            if (document.querySelector('.c-drawer__info-price')) {
                this.cart_total = parseFloat(document.querySelector('.c-drawer__info-price').textContent.split('$')[1]);
                this.bar_number = '$' + parseFloat(this.bar_threshold - this.cart_total);
                this.bar_percentage = 100-(((this.bar_threshold - this.cart_total) / this.bar_threshold)*100)
            } else {
                this.bar_number = '$' + this.bar_threshold;
                this.bar_percentage = 0;
            }
        })

    },
    deleteCartItem(key) {
        $('body').trigger('qty.cart-drawer', [key, 0]);
    }
}"
x-init="calculateFreeShippingBar()"
>
  <!-- ATC MODAL -->
  <div id="nby-atc-modal">
    <div class="nby-atc-modal-platform">
        <button id="nby-atc-modal-close">
            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 64 64"><path d="M19 17.61l27.12 27.13m0-27.12L19 44.74"></path></svg>
        </button>
        <div class="nby-atc-modal-inner">
            <div class="nby-atc-modal-head">
                <h2>SELECT SIZES</h2>
                <button id="nby-atc-final" class="disabled"></button>
            </div>
            <div class="nby-atc-modal-body">
              <div id="atc-prod-1" class="nby-atc-modal-prod"></div>
              <div id="atc-prod-2" class="nby-atc-modal-prod"></div>
          	</div>
        </div>
    </div>
  </div>
  
  <!-- MOBILE FILTERS -->
  <div class="shopify-section filters-container mobile-filters template-collection">
    <div class="nby-mobile-filters-inner">
        <div class="mobile-filters-head">
            <h3>FILTER</h3>
            <button id="nby-filter-close">
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 64 64"><path d="M19 17.61l27.12 27.13m0-27.12L19 44.74"></path></svg>
            </button>
        </div>
        <div id="CollectionSidebar-2" class="c-collection__sidebar" data-section-id="collection-sidebar-2" data-section-type="collection-sidebar" data-combine-tags="true" data-style="sidebar">
            <!-- TOPS -->
            <div class="collection-sidebar filter-tops">
                <h3 class="filter-title">Tops</h3>
                <!-- COVERAGE -->
                <div class="coverage-top" data-sub="category">
                    <div class="collection-sidebar__group">
                        <button type="button" class="collapsible-trigger collapsible-trigger-btn collapsible--auto-height tag-list__header text__body" aria-controls="filter-menu-7" aria-expanded="false">
                            <span class="collapsible-trigger-btn-label">Coverage</span>
                            <span class="collapsible-trigger__icon collapsible-trigger__icon--open" role="presentation">
                                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewBox="0 0 28 16">
                                    <path d="M1.57 1.59l12.76 12.77L27.1 1.59" stroke-width="2" stroke="#000" fill="none" fill-rule="evenodd"></path>
                                </svg>
                            </span>
                        </button>
                        <div id="filter-menu-7" class="collapsible-content collapsible-content--sidebar">
                            <div class="collapsible-content__inner">
                                <ul class="no-bullets tag-list tag-list--checkboxes">
                                    {% include 'nani-by-you-top-coverage' %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- COLLECTION -->
                <div class="collection-top" data-sub="category">
                    <div class="collection-sidebar__group">
                        <button type="button" class="collapsible-trigger collapsible-trigger-btn collapsible--auto-height tag-list__header text__body" aria-controls="filter-menu-8" aria-expanded="false">
                            <span class="collapsible-trigger-btn-label">Collection</span>
                            <span class="collapsible-trigger__icon collapsible-trigger__icon--open" role="presentation">
                                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewBox="0 0 28 16">
                                    <path d="M1.57 1.59l12.76 12.77L27.1 1.59" stroke-width="2" stroke="#000" fill="none" fill-rule="evenodd"></path>
                                </svg>
                            </span>
                        </button>
                        <div id="filter-menu-8" class="collapsible-content collapsible-content--sidebar" style="height: 0px;">
                            <div class="collapsible-content__inner">
                                <ul class="no-bullets tag-list tag-list--checkboxes">
                                    {% include 'nani-by-you-collections' %}
                                  	{% include 'nani-by-you-collections-builder' %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- COLOR -->
                <div class="color-top" data-sub="category">
                    <div class="collection-sidebar__group">
                        <button type="button" class="collapsible-trigger collapsible-trigger-btn collapsible--auto-height tag-list__header text__body" aria-controls="filter-menu-9" aria-expanded="false">
                            <span class="collapsible-trigger-btn-label">Color</span>
                            <span class="collapsible-trigger__icon collapsible-trigger__icon--open" role="presentation">
                                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewBox="0 0 28 16">
                                    <path d="M1.57 1.59l12.76 12.77L27.1 1.59" stroke-width="2" stroke="#000" fill="none" fill-rule="evenodd"></path>
                                </svg>
                            </span>
                        </button>
                        <div id="filter-menu-9" class="collapsible-content collapsible-content--sidebar" style="height: 0px;">
                            <div class="collapsible-content__inner">
                                <ul class="no-bullets tag-list tag-list--swatches">
                                    {% include 'nani-by-you-colors' %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- BOTTOMS -->
            <div class="collection-sidebar filter-bottoms">
                <h3 class="filter-title">Bottoms</h3>
                <!-- COVERAGE -->
                <div class="coverage-btm" data-sub="category">
                    <div class="collection-sidebar__group">
                        <button type="button" class="collapsible-trigger collapsible-trigger-btn collapsible--auto-height tag-list__header text__body" aria-controls="filter-menu-10" aria-expanded="false">
                            <span class="collapsible-trigger-btn-label">Coverage</span>
                            <span class="collapsible-trigger__icon collapsible-trigger__icon--open" role="presentation">
                                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewBox="0 0 28 16">
                                    <path d="M1.57 1.59l12.76 12.77L27.1 1.59" stroke-width="2" stroke="#000" fill="none" fill-rule="evenodd"></path>
                                </svg>
                            </span>
                        </button>
                        <div id="filter-menu-10" class="collapsible-content collapsible-content--sidebar">
                            <div class="collapsible-content__inner">
                                <ul class="no-bullets tag-list tag-list--checkboxes">
                                    {% include 'nani-by-you-bottom-coverage' %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- COLLECTION -->
                <div class="collection-btm" data-sub="category">
                    <div class="collection-sidebar__group">
                        <button type="button" class="collapsible-trigger collapsible-trigger-btn collapsible--auto-height tag-list__header text__body" aria-controls="filter-menu-11" aria-expanded="false">
                            <span class="collapsible-trigger-btn-label">Collection</span>
                            <span class="collapsible-trigger__icon collapsible-trigger__icon--open" role="presentation">
                                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewBox="0 0 28 16">
                                    <path d="M1.57 1.59l12.76 12.77L27.1 1.59" stroke-width="2" stroke="#000" fill="none" fill-rule="evenodd"></path>
                                </svg>
                            </span>
                        </button>
                        <div id="filter-menu-11" class="collapsible-content collapsible-content--sidebar" style="height: 0px;">
                            <div class="collapsible-content__inner">
                                <ul class="no-bullets tag-list tag-list--checkboxes">
                                    {% include 'nani-by-you-collections-builder' %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- COLOR -->
                <div class="color-btm" data-sub="category">
                    <div class="collection-sidebar__group">
                        <button type="button" class="collapsible-trigger collapsible-trigger-btn collapsible--auto-height tag-list__header text__body" aria-controls="filter-menu-12" aria-expanded="false">
                            <span class="collapsible-trigger-btn-label">Color</span>
                            <span class="collapsible-trigger__icon collapsible-trigger__icon--open" role="presentation">
                                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewBox="0 0 28 16">
                                    <path d="M1.57 1.59l12.76 12.77L27.1 1.59" stroke-width="2" stroke="#000" fill="none" fill-rule="evenodd"></path>
                                </svg>
                            </span>
                        </button>
                        <div id="filter-menu-12" class="collapsible-content collapsible-content--sidebar" style="height: 0px;">
                            <div class="collapsible-content__inner">
                                <ul class="no-bullets tag-list tag-list--swatches">
                                    {% include 'nani-by-you-colors' %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- APPLY FILTERS -->
        <div class="nby-apply-filters">
            <button class="nby-apply-filters-button btn">APPLY FILTERS</button>
        </div>
      </div>
  </div>

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  <div id="PageContainer" class="page-container">
    <div class="transition-body">

    {% section 'header' %}

      <main class="main-content" id="MainContent">
        <!--LayoutHub-Workspace-Start-->{{ content_for_layout }}<!--LayoutHub-Workspace-End-->
      </main>

      {% section 'footer-promotions' %}
      {% section 'footer' %}

    </div>
  </div>

  {% section 'newsletter-popup' %}

  {%- if settings.cart_type == 'drawer' -%}
    {%- render 'ajax-cart-template' -%}
  {%- endif -%}

  {% comment %}
    Custom markup for slider arrows using theme icons
  {% endcomment %}
  <div class="hide">
    <button id="prevArrowTemplate" class="slick-prev"></button>
    <button id="nextArrowTemplate" class="slick-next"></button>
  </div>

  {%- if settings.predictive_search_enabled -%}
    {%- render 'predictive-template' -%}
  {%- endif -%}

  {% render 'video-modal' %}
  {% render 'photoswipe-template' %}
  {% if template contains 'product' %}
    {% render 'recently-viewed-product-template' %}
  {% endif %}
<script src='{{ 'ndnapps-easyfaqs.js' | asset_url }}' defer='defer'></script>

{% render 'simply-insurance' %}
<script src="https://cdn.static.kiwisizing.com/SizingPlugin.prod.js?v=307&shop=nani-swimwear.myshopify.com"></script>
{%- render 'layouthub_footer' -%} 
 
  
{% include "bc_banner" %}
  
{% render 'preorder-now' %}
  </body>
</html>